/* ======================global====================== */

body {
	font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
	font-family: "Orbitron", sans-serif;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.center-image {
	display: block;
	margin: 0 auto;
}

/* ===================== nav bar ======================== */

Header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #424949;
}

header nav ul {
	display: flex;
	justify-content: flex-end;
}

header nav ul li {
	display: block;
}

header nav ul li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

header nav ul li a:hover {
	background-color: #3b5998;
}

/* ==================== hero =================== */

#hero {
	background-image: url(../img/rocket.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	display: table;
	height: 800px;
	width: 100%;
	text-align: center;
}

.hero-text {
	display: table-cell;
	color: white;
	vertical-align: middle;
	font-size: 1.5em;
}

/* ===================== students ==================== */

#students {
	width: 75%;
	margin: 50px auto;
}

#students h2 {
	text-align: center;
	font-size: 2em;
}

/* =================== what will you learn ==================== */

#learn {
	background-image: url(../img/learn.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.learn-header {
	text-align: center;
	background-color: #424949;
	color: white;
	height: 60px;
	width: 100%;
	margin: 0px;
	display: table;
	vertical-align: middle;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 0;
	padding: 0;
}

.grid-item {
	padding: 20px;
	text-align: center;
}

.menu-box {
	border: solid;
	border-color: #3b5998;
	background-color: rgba(44, 66, 80, 0.5);
	height: 400px;
	width: 325px;
	margin: auto;
	border-radius: 3px;
}

.icon-box {
	display: table;
	margin: 50px auto;
	border-radius: 25px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	color: white;
	text-align: center;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.icon-box i {
	display: table-cell;
	margin: auto;
	font-size: 150px;
	text-align: center;
	vertical-align: middle;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#learn figcaption {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin: -80px 0 0 -160px;
	font-size: 30px;
	color: white;
}

.html {
	background-color: #e34f26;
}

.css {
	background-color: #3b5998;
}

.database {
	background-color: #f29111;
}

.php {
	background-color: #8892be;
}

.js {
	background-color: #f7df1e;
}

.mobile {
	background-color: #a4c639;
}

.menu-box p {
	margin: 60px 10px 0px 10px;
	color: white;
}

/* ==================== program features ================ */

#features {
	margin-top: 50px;
}

#features h2 {
	text-align: center;
	font-size: 2em;
}

.features-grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	margin: 0;
	padding: 0;
}

.features-grid-item {
	padding: 20px;
	text-align: center;
}

.features-grid-item i {
	font-size: 5em;
}
